.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form{
    margin: 20px, 10px;
    padding-top: 30px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.gameBoard{
    display:grid;
    border:1px,solid black;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.square{
    display:flex;
    border: 1px solid black;
    width:100px;
    height:100px;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}